<html lang='en'>

  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <meta http-equiv='X-UA-Compatible' content='ie=edge' />
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <a href='/'>Home</a>
  <a href='/signup'>Create User</a>
  <a href='/login'>Login</a>
  <a href='/main'>Cat Picture</a>
  <a href='/private'>Private</a>
  <body>
    {{#if currentUser}}
      <p>Welcome {{currentUser.username}}</p>

      <form action='/logout' method='POST'>
        <button type='submit'>Logout</button>
      </form>
    {{/if}}
    {{{body}}}

    <script src='/js/script.js'></script>
  </body>

</html>